@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  @apply bg-mutedFlesh
}

.container {
  @apply p-5 md:pl-24;
  width: 100% !important;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Overrides */
.ant-table-thead {
  background-color: #323232 !important;
}

th {
  @apply bg-oliveGreen text-white !important;
}

.page-container {
  @apply p-5 md:pl-24;
  width: 100% !important;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 92vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.view-btn {
  @apply px-3 py-1 rounded-md border hover:shadow-md border-green hover:bg-green text-green hover:text-white
}

.danger-btn {
  @apply px-3 py-1 rounded-md hover:shadow-md hover:bg-red hover:text-white text-red ;
}

.warning-btn {
  @apply px-3 py-1 rounded-md hover:shadow-md border border-orange hover:text-white hover:bg-orange text-orange;
}

.solid-warning-btn{
  @apply bg-orange hover:shadow-md items-center flex flex-row text-sm text-white py-2 px-4 rounded-md w-fit
}

.cancel-btn {
  @apply border rounded-md p-1 border-red text-red hover:bg-red hover:text-white;
}

input:focus {
  outline: none;
}

.input-field {
  @apply border border-gray rounded-md p-1;
}


/* Calendar Override */
.fc-toolbar-title{
  @apply text-darkGray
}

.fc .fc-button-primary {
  @apply bg-oliveGreen border-darkGreen hover:bg-darkGreen
}

.fc-direction-ltr {
  direction: ltr;
  text-align: left;
  height: auto;
}

:root{
  --fc-event-border-color: #567d34;
}

/* .fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{
  @apply bg-oliveGreen text-white
} */