@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

*{
  font-family: 'Nunito Sans', sans-serif;
}

body{
  @apply bg-mutedFlesh
}

.container{
  @apply p-5 md:pl-24;
  width: 100vw;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Overrides */
.ant-table-thead{
  background-color: #323232 !important;
}
